*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.center{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.w50{
    padding: 0 10px;
    width: 50%;
}

.w33{
    width: 33.3%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

/**********/

header{
    padding: 20px 0;
    background: #3d437a;
}

header .logo{
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
}

.mobile{
    display: none;
}

nav.desktop ul{
    position: relative;
    top: 6px;
    list-style-type: none;
}

nav.desktop li{
    font-weight: 300;
    font-size: 15px;
    padding: 0 30px;
    text-transform: uppercase;
    display: inline-block;
}

nav.desktop a{
    color: white;
    text-decoration: none;
}

.banner-principal{
    width: 100%;
    height: 600px;
    background-image: url(images/bg.jpg);
    background-size: cover;
    position: relative;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(51, 51, 51, 0.6);
}

section.banner-principal form{
    width: 93%;
    max-width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

section.banner-principal form h2{
    color: white;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}

section.banner-principal form input[type=email]{
    border-style: none;
    padding-left: 10px;
    width: 100%;
    height: 66px;
    background: white;
    color: #333;
    font-size: 22px;
    margin-top: 10px;
}

section.banner-principal form input[type=submit]{
    border-style: none;
    padding-left: 10px;
    width: 100%;
    height: 66px;
    background: #00C59E;
    color: white;
    font-size: 22px;
    cursor: pointer;
    margin-top: 10px;
}

section.descricao-autor{
    padding: 30px 0;
}

section.descricao-autor h2{
    font-size: 28px;
    font-weight: 400;
    color: #444;
}

section.descricao-autor p{
    font-size: 16px;
    color: #444;
    margin-top: 10px;
}

section.descricao-autor img{
    width: 100%;
}


@media screen and (max-width: 700px){
    header .logo{
        float: none !important;
        text-align: center;
    }

    nav.desktop{
        display: none;
    }

    nav.mobile{
        display: block;
    }

    nav.mobile ul{
        display: none;
    }
}

@media screen and (max-width: 768px){
    img{
        float: none !important;
        display: block;
        margin: 0 auto;
        max-width: 500px;
    }
    .w50{
        padding: 16px;
        width: 100%;
    }
}
