*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,body{
    height: 100%;
}


/*Divs gerais*/
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.clear{
    clear: both;
}
/**********/

header{
    background-color: rgb(180,180,180);
    padding: 10px 2% 40px 2%;
}

.logo-1{
    float: left;
    width: 160px;
    height: 60px;
    background-image: url(../images/logo1.png);
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}

.logo-2{
    float: right;
    width: 160px;
    height: 60px;
    background-image: url(../images/logo2.png);
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}

section.cover-form{
    width: 100%;
}

.bg{
    background-image: url(../images/bg-form.jpg);
    height: 500px;
    background-position: center;
    background-size: cover; 
}

.form-container{
    z-index: 2;
    float: right;
    margin-right: 40px;
    width: 400px;
    height: 110%;
    position: relative;
    top: -5%;
    box-shadow: 1px 1px 2px 1px rgb(180,180,180);
    background-color: white;
}

.form-container h2{
    font-weight: normal;
    padding: 25px 15px;
    font-size: 18px;
    color: black;
    background-color: rgb(210,210,210)
}

.form-container form{
    margin-top: 20px;
    padding: 15px;
}

.form-container form p{
    font-size: 14px;
    color: #525252;
}

.form-container form input[type=text]{
    width: 100%;
    border: 1px solid #ccc;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
}

.form-container form input[type=submit]{
    background-color: #033c50;
    text-transform: uppercase;
    color: white;
    width: 100%;
    font-size: 25px;
    cursor: pointer;
    height: 50px;
    border: 0;
}

.form-wraper:not(:first-child){
    margin-top: 40px;
}

.form-wraper:last-child{
    margin-top: 20px;
}

section.chamada{
    z-index: 1;
    width: 100%;
    text-align: center;
    display: inline-block;
}

section.chamada .container{
    position: relative;
    top: -50px;
    padding: 50px 0;
    background-color: #7c6757;
}

section.chamada h2, section.chamada p{
    margin-bottom: 10px; 
    width: 96%;
    max-width: 700px;
    display: inline-block;
    color: white;
    font-size: 24px;
    font-weight: normal;
}

section.chamada p{
    font-size: 16px;
}

.flex-mosaico{
    display: flex;
}

.item-1-mosaico{
    background-position: center;
    background-size: cover;
    width: 60%;
}

.item-1-mosaico:nth-of-type(1){
    background-image:url(/vscode/Danki_Aulas/WebMaster/Projeto_02/images/mosaico1.jpg);
}

.item-2-mosaico{
    padding: 40px;
    width: 40%;
}

@media screen and (max-width: 960px){
    .form-container{
        width: 96%;
        margin-right: 10px;
        max-width: 400px;
    }
}

@media screen and (max-width: 510px){

    .bg{
        text-align: center;
    }


    header{
        text-align: center;
    }

    .logo-1, .logo-2{
        margin-top: 10px; 
        display: inline-block;
        float: none;
    }
}